body {
    font-size: 12px !important;
}
.logo{
    font-size: 25px !important;
    font-weight: bold !important;
}
.page-title-box {
    padding: 14px !important;
}

#sidebar-menu > ul > li > a{
    padding: 7px 25px !important;
}
th{
    font-size: 12px !important;
}
.profile-pic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.pagination > li > a, .pagination > li > span{
    padding: 5px !important;
}

#topnav .navigation-menu > li > a{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.list-group {
    margin-bottom: 0 !important;
}